<!DOCTYPE html>
<html>
<head>
	<title>NPC LOOKUP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    
  
</head>
<body>

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="navLink" role="presentation"><a href="/">NPCs</a></li>    
            {{#if user}}
              <li class="navLink" role="presentation"><a href="/NPC/create">Create NPC</a></li>
              <li class="navLink" role="presentation"><a href="/NPC/profile">Your NPCs</a></li>
              <li class="navLink" role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li class="navLink" role="presentation"><a href="/users/login">Login</a></li>
              <li class="navLink" role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
            <h2 class="text-muted">NPC LOOKUP</h2>
        </nav>
      
      </div>
	<div class="container">

      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p>&copy; Developed by Nicolas Crumrine</p>
      </footer>

    </div> <!-- /container -->
    
</body>
</html>